version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    groups:
      all:
        patterns:
          - "*"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 7
  - package-ecosystem: "npm"
    directories:
      - "/"
      - "/examples"
      - "/packages/react-google-recaptcha"
    groups:
      all:
        patterns:
          - "*"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 7
