# 全ファイルを無視する
*

!.gitignore
!.gitkeep

!/.github/
!/.github/workflows/
!/.github/workflows/*.yml
!/.github/dependabot.yml
!/.github/zizmor.yml

!*.ts
!*.tsx
!*.md

!/examples/
!/examples/src/
!/examples/.env.sample
!/examples/index.html

!/packages/
!/packages/*/
!/packages/*/src/
!/packages/*/src/**/

!package.json
!rolldown.config.ts
!tsconfig.json
!vitest.config.ts

!/.editorconfig
!/.ncurc.cjs
!/.npmrc
!/biome.jsonc
!/bumpver.toml
!/commitlint.config.cjs
!/lefthook.yaml
!/LICENSE
!/mise.toml
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/rolldown.base.config.ts
!/tsconfig.base.json
!/turbo.json
